  body {
      font-family: Arial, sans-serif;
      padding: 20px;
    }

    input {
      width: 100%;
      padding: 10px;
      font-size: 18px;
      margin-bottom: 20px;
    }

    .country-list {
      list-style: none;
      padding: 0;
    }

    .country-card {
      display: flex;
      justify-content: space-between;
      align-items: center;
      gap: 40px;
    }

    .country-card h2 {
      font-size: 36px;
    }

    .country-card p {
      font-size: 20px;
    }

    .flag {
      width: 300px;
    }